<IfModule mod_authz_core.c>
  <FilesMatch "\.(php|phtml|php3)$">
    Require all denied
  </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
  <FilesMatch "\.(php|phtml|php3)$">
    Order allow,deny
    Deny from all
  </FilesMatch>
</IfModule>
